# File to convert terminal to bash
local.sh

# Server log file
ui.log
service.log

# Vscode settings
.vscode

# Python virtual environment
service/viki_ai/.venv
# Python cache files
**/__pycache__
# Python bytecode files
**/*.pyc
# Jupyter Notebook checkpoints